.exampleBox{
    width: 100%;
    height: 35rem;
    background: #dfe0e4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.example-logo{
    background: snow;
    color:#004881;
    font-size: 6rem;
    font-weight: bold;
    width: 25rem;
    height: 25rem;
}
.example-text{
    max-width: 100rem;
}
.upper-example-text{
    font-size: 3rem;
    font-weight: bold
}
.lower-example-text{
    font-size: 2rem;
}
.example-link{
    text-decoration: underline;
    color: #00aeff;
    font-weight: bold;
}