.exampleBox{
    width: 100%;
    height: 35rem;
    background: #dfe0e4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.example-logo{
    background: snow;
    color:#004881;
    font-size: 5rem;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-family: Halyard Display-Bold;
}
.example-text{
    max-width: 100rem;
}
.upper-example-text{
    font-size: 50px;
    font-family: Halyard Display-Bold;
    font-weight: bold;
    max-width: 70rem;
}
.lower-example-text{
    font-size: 18px;
    font-family: popins;
    max-width: 75rem;
}
.example-link{
    text-decoration: underline;
    color: #00aeff;
    font-weight: bold;
}