.exampleBox{
    width: 100%;
    height: 36rem;
    background: #dfe0e4;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.example-logo{
    background: snow;
    color:#004881;
    font-size: 5rem;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-family: Halyard Display-Bold;
}
.example-text{
    max-width: 100rem;
}
.upper-example-text{
    font-size: 50px;
    font-family: Halyard Display-Bold;
    font-weight: bold;
    max-width: 70rem;
    color: #231f20;
    line-height: 1.2;
}
.lower-example-text{
    font-size: 18px;
    font-family: popins;
    max-width: 75rem;
}
.example-link{
    text-decoration: underline;
    color: #00aeff;
    font-weight: bold;
}

/* media query */
@media screen and (max-width: 1200px) {
    .example-logo{
        font-size: 4rem;
        width: 16rem;
        height: 16rem;
    }
    .example-text{
        max-width: 90rem;
    }
    .upper-example-text{
        font-size: 40px;
        max-width: 56rem;
    }
    .lower-example-text{
        font-size: 16px;
        max-width: 60rem;
    }
}

@media screen and (max-width: 992px) {
    .example-logo{
        display: none;
    }
    .example-text{
        max-width: 45rem;
    }
    .upper-example-text{
        font-size: 32px;
        max-width: 40rem;
    }
    .lower-example-text{
        font-size: 12px;
        max-width: 40rem;
    }
   
}
