.nav{
    width: 100%;
    height: 9rem;
    background: #231f20;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 0.5rem solid snow;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: Halyard Display;   
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 280px;
    cursor: pointer;
}
.logo-container img{
    width: 100%;
    height: 100%;
}
.navs-container{
    flex-basis: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links,
.nav-availables{
    color: snow;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    margin-left: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.nav-available {
    cursor: auto;
}
.nav-available-2{
    margin-top: 0.6rem;
}
.nav-link, .nav-available{
    color: snow;
    font-size: 1rem;
    padding: 0 1rem;
    text-decoration: none;
    font-family: Halyard Display-Book;
}
.nav-available-1{
    white-space: nowrap;
}
.nav-available-2{
    
}
.nav-link:hover{
    color: greenyellow;
}
.nav-link:active{
    color: #2FB80C;
}

.nav-available__line{
    width: 0.1rem;
    height: 3.8rem;
    background: snow;
    transform: rotate(10deg);
}
.nav-buttons{
    margin: 0 1rem;
    cursor: pointer;
}
.nav-link:hover{
    color: greenyellow;
}


.nav-buttons{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.nav__button{
    color: snow;
    border: 1px solid snow;
    font-size: 1.3rem;
    cursor: pointer;
    /* padding: 3rem 1rem; */
    font-family: 'Halyard Display-Bold';
    

}
.nav__buttons  a{
    transform: skew(-10deg);
}

.nav__button--active{
    background: #00aeff;
    color: snow;
    border-color: #00aeff;
}
.nav-circle{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: #2FB80C;
    box-shadow: 0 0 5px 2px rgba(0,256,0,0.8);
    margin-top: 0.6rem;
}

/* Media queries for responsiveness */

/* media queries */
@media screen and (max-width:992px){
    .nav-availables{
        display: none;
    }
    .nav-buttons{
        display: none;
    }
    .nav{
        padding-left: 1rem;
        padding-right: 1rem;
    }
  }
