.quote-deliver-container{
    display: flex;
    flex-direction: column;
    height: 870px;
    padding-top: 2rem;
    margin-top: 2rem;
}
.onsite-quote{
    display: flex;
    width: 100%;
    height: 10rem;
    margin-bottom: 1rem;
}
.onsite{
    width: 60%;
    background: #0074ff;
    color: snow;
    font-size: 60px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
    font-family: Halyard Semi-Bold;
    text-align: center;
}
.onsite::before{
    content: '';
    position: absolute;
    top: 0;
    right: -0.5em; 
    bottom: 0;
    width: 0;
    border-right: 1em solid #0074ff; 
    transform: skewX(-15deg); 
    z-index: -1;
}

.onsite-buttons{
    width: 40%;
    background: #004881;
    display: flex;
    justify-content: center;
    align-items: center;
}
.onsite-button span{
    transform: skew(10deg);
}
.onsite-button{
    margin-left: 1rem;
    font-weight: bold;
    font-size: 17px;
    font-family: Halyard Semi-Bold;
    
}
.btn-2nd{
    background: snow;
    color: #00aeff;
}
/* delivery */
.delivery{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50rem;
}
.delivery-right{
    flex-grow: 1;
    background-image: url('../images/I-am-a-plumber-–-what-do-I-need-in-my-business-terms-and-conditions1.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    flex-basis: 50%;
}

.delivery-title{
    font-size: 90px;
    font-weight: bold;
    text-align: center;
    font-family: Halyard Semi-Bold;
}
.delivery-text{
    max-width: 46rem;
    margin: 0 auto;
    font-size: 18px;
    font-family: popins;
    
}
.delivery-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #00aeff;
    color: snow;
    flex-basis: 50%; /* Adjust the width of the left section */
    position: relative;
    z-index: 1;
    padding-left: 2rem; /* Optional: add padding if needed */
    box-sizing: border-box;


}

.delivery-left::before{
    content: '';
    position: absolute;
    top: 0;
    right: -4em; 
    bottom: 0;
    width: 0;
    border-right: 10em solid #00aeff; 
    transform: skewX(-15deg); 
    z-index: -1;
}

.delivery-right img{
    height: 50rem;
}

.delivery-boxes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}
.delivery-box{
    background: snow;
    width: 311px;
    height: 170px;
    transform: skew(-10deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 1rem;
    font-size: 18px;
    font-family: Halyard Semi-Bold;
}
.mini-upper{
    color: #00aeff; 
    font-weight: bold;
    transform: skew(10deg);
    font-family: Halyard Semi-Bold;
    font-size: 27px;
    text-align: left;
    margin-left: 2rem;
}
.mini-lower{
    color:black;
    font-size: 12px;
    transform: skew(10deg);
    font-family: Gilroy-Regular;
    max-width: 18rem;
    text-align: left;
    
}
.mini-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 4rem;
    }