.quote-deliver-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1000px;
    padding-top: 2rem;
    margin-top: 2rem;
}
.onsite-quote{
    display: flex;
    width: 100%;
    height: 10rem;
    margin-bottom: 1rem;
    justify-content: center;
}
.onsite{
    background: #0074ff;
    color: snow;
    font-size: 60px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
    font-family: Halyard Semi-Bold;
    text-align: center;
    flex-basis: 60%;
}
.onsite::before{
    content: '';
    position: absolute;
    top: 0;
    right: -0.5em; 
    bottom: 0;
    width: 0;
    border-right: 1em solid #0074ff; 
    transform: skewX(-15deg); 
    z-index: -1;
}

.onsite-buttons{
    background: #004881;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 40%;
}
.onsite-button span{
    transform: skew(10deg);
}
.onsite-button{
    margin-left: 1rem;
    font-weight: bold;
    font-size: 17px;
    font-family: Halyard Semi-Bold;
    
}
.btn-2nd{
    background: snow;
    color: #00aeff;
}
/* delivery */
.delivery{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100rem;
}
.delivery-right{
    flex-grow: 1;
    background-image: url('../images/I-am-a-plumber-–-what-do-I-need-in-my-business-terms-and-conditions1.webp');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    flex-basis: 50%;
    height: 100%;
}

.delivery-title{
    font-size: 90px;
    font-weight: bold;
    text-align: center;
    font-family: Halyard Semi-Bold;
}
.delivery-text{
    max-width: 46rem;
    margin: 0 auto;
    font-size: 18px;
    font-family: popins;
    
}
.delivery-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #00aeff;
    color: snow;
    flex-basis: 45%; 
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    height: 100%;
}

.delivery-left::before{
    content: '';
    position: absolute;
    top: 0;
    right: -4em; 
    bottom: 0;
    width: 0;
    border-right: 10em solid #00aeff; 
    transform: skewX(-15deg); 
    z-index: -1;
}
.delivery-left::after{
    content: '';
    position: absolute;
    top: 0;
    right: -4em; 
    bottom: 0;
    width: 0;
    border-right: 0.5em solid snow; 
    transform: skewX(-15deg); 
    z-index: -1;
}


.delivery-boxes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    padding: 3rem;
    width: 100%;
    height: 25rem;
}

.delivery-box{
    background: snow;
    width: 311px;
    height: 100%;
    transform: skew(-5deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 1rem;
    font-size: 18px;
    font-family: Halyard Semi-Bold;
}
.mini-upper{
    color: #00aeff; 
    font-weight: bold;
    transform: skew(5deg);
    font-family: Halyard Semi-Bold;
    font-size: 27px;
    text-align: left;
    margin-left: 2rem;
}
.mini-lower{
    color:black;
    font-size: 12px;
    transform: skew(5deg);
    font-family: Gilroy-Regular;
    max-width: 18rem;
    text-align: left;
    padding-bottom: 2rem;
    
}
 .mini-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 4rem;
    height: 1000px;
    }


/* Media queries for responsiveness */

@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 992px) {
    .onsite{
        font-size: 40px;
        text-align: center;
    }
    
    .onsite-button{
        margin-left: 1rem;
        font-weight: bold;
        font-size: 12px;
        font-family: Halyard Semi-Bold;
        width: 10rem;height: 4rem;
    }
    .delivery {
        flex-direction: column; 
        height: auto; 
    }

    .delivery-left {
        flex-basis: 100%;
        width: 100%; 
        background: #00aeff; 
        color: snow; 
        padding: 2rem; 
        box-sizing: border-box; 
        position: relative;
        z-index: 1;
        transform: none; 
    }

    .delivery-left::before {
        display: none; 
    }

    .delivery-right {
        display: none; 
    }

    .delivery-title {
        font-size: 36px; 
        text-align: center; 
    }

    .delivery-text {
        font-size: 12px; 
        max-width: 100%; 
        text-align: center; 
    }

    .delivery-boxes {
        flex-wrap: wrap; 

    }

    .delivery-box {
        width: 100%; 
        margin-left: 0;
        margin-top: 1rem; 
        /* transform: none;  */
    }

    .mini-upper {
        color: #00aeff; 
        font-weight: bold;
        font-size: 16px; 
        text-align: center; 
        line-height: 1;
    }

    .mini-lower {
        color: black; 
        font-size: 12px; 
        text-align: center; 
    }

    .mini-container {
        display: flex;
        justify-content: center; 
        align-items: center;
        /* padding: 1rem;  */
    }
    
}

@media screen and (max-width: 768px) {

    .quote-deliver-container {
        height: auto; 
    }

    .onsite-quote {
        flex-direction: column;
        height: auto; 
    }

    .onsite {
        width: 100%; 
        font-size: 40px; 
        text-align: center; 
    }

    .onsite::before {
        display: none; 
    }

    .onsite-buttons {
        width: 100%; 
        justify-content: center; 
        margin-top: 1rem; 
    }

    .onsite-button {
        width: 30%; 
        margin: 0.5rem auto;
        text-align: center; 
    }

    .delivery {
        flex-direction: column; 
        height: auto; 
    }

    .delivery-left {
        flex-basis: 100%;
    }

    .delivery-right {
        display: none; 
    }

     .header-subttile {
        font-size: 24px;
    }

}



@media screen and (max-width: 576px) {
    .delivery-title {
        font-size: 40px; 
    }

    .delivery-text {
        font-size: 14px; 
        max-width: 100%; 
        padding: 0 1rem; 
    }



    .delivery-box {
        width: 100%; 
        height: 100%;
        margin-left: 0; 
        margin-top: 1rem; 
        transform: none; 
    }

    .mini-upper {
        margin-left: 0; 
        text-align: center; 
    }

    .mini-lower {
        text-align: center; 
    }
    .header-subttile {
        font-size: 20px;
    }

    .header-images {
        flex-direction: column;
        align-items: center;
    }
}