.Service {
    width: 100%;
    max-width: 30rem; 
    height: 20rem;
    background: #808080;
    position: relative;
    box-sizing: border-box; 
}

.bar {
    width: 90%;
    height: 4rem;
    background: #002441;
    position: absolute;
    left: 0;
    bottom: 0;
    clip-path: polygon(0 0, 100% 0, 90% 0%, 100% 100%, 0 100%);
    font-family: Halyard Display;
    font-size: 16px;
}

.icon-containing {
    background: #00abfb;
    width: 5rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-containing img{
    width: 60%;
    height: 60%;
}

.bottom-blue-bar {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hot-water {
    margin-top: -8rem;
    z-index: 2;
    color: snow;
}
